node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.dockerignore
.env
.nyc_output
coverage
*.log
.DS_Store
dist
build
.cache
Dockerfile*
docker-compose*
.gitlab-ci.yml
.github
